# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/
env/
venv/

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*.bak

# Flask instance folder
instance/

# Database files
*.db
*.sqlite
*.sqlite3

# Log files
*.log

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Distribution and build artifacts
dist/
build/
*.egg-info/